/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02-jun-2023, 20:57:50
    Author     : cmongez
*/
@import url('https://fonts.cdnfonts.com/css/gotham');
.navbar-toggle{
    border: 1px solid white;
}
:root {
  --azul: #003087;
  --azul-oscuro:  #001b4d;
  --naranja: #e87722;
  --gris: #313338;
  --blanco: #ffffff;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gotham', sans-serif;
  
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: var(--naranja);
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: var(--azul);
  border-radius: 5px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  --color-primary: #e87722;
  --color-secondary: #003087;
}

.text-ficticia-primary {
  color: var(--color-primary);
}
.text-ficticia-secondary {
  color: var(--color-secondary);
}
td {
  border: 1px solid var(--naranja);
}
th {
  border: 1px solid var(--azul);
}
td,
tr {
  text-align: center;
  vertical-align: middle;
}
.bg-ficticia-gris {
  background-color: transparent;
}
.bg-ficticia-primary {
  background-color: var(--color-primary) !important;
}
.bg-ficticia-oscuro {
  background-color: var(--azul-oscuro) !important;
}
.bg-ficticia-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-ficticia-gray1 {
  background-color: #e2e3e4 !important;
}

nav.ficticia .nav-item .nav-link {
    color: white;
}
.tiles{
   height: 120px;
   width: 120px;
   display:flex;
   align-items:center;
   justify-content:center;
}

#quienes-somos, #recruiting, #perfiles{
    min-height: 50vh;
    
}

